/* 1-- Font Include + Root values
2-- General For Multiple pages
3-- Navbar
4-- Login page
5-- stud_listing page
6-- create_listing
7-- Breader Dashboard
8-- Breader Profile Start
9-- Single Listing Page
10--Filter Component
11--Home Page
12--Resources
13--Social Links
-- footer*/

.fa-dna {
    color: var(--blue);
}

/* .tooltip .tooltiptext {*/
/*    width: 120px;*/
/*    background-color: black;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    border-radius: 6px;*/
/*    padding: 5px 0;*/
/*}*/


/* 3-- *********** Header & Navbar Start ***************/

header.sticky{
    position: sticky;
    top: 0;
    z-index: 9999;
}

header.sticky .secondary-nav{
    display: none !important;
}

.secondary-nav{
    background-color: var(--red);
    padding: 5px 0px;
}
.secondary-nav a,.secondary-nav a:hover{
    color: #ffffff;
}

nav.gf-nav{
    background-color: #85bce2;
    box-shadow: 0px 3px 3px 0px rgb(0 0 0 / 12%), inset 0px 0px 0px 0px rgb(218 220 224 / 0%);
}

nav.gf-nav.active {
    z-index: 999;
    position: fixed;
    top: 0;
    background-color: #a5cdea;
    width: 100%;
    transition: all 0.7s ease;
    height: 70px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12), inset 0px 0px 0px 0px rgba(218, 220, 224, 0.004);
}

header nav.gf-nav .navbar-brand img{
    margin-top: -40px;
}

nav.gf-nav.active img{
    margin-top: 0px !important;
    max-height: 55px;
    width: auto;
}

nav .navbar-brand{
    min-width: 75px;
}

nav.gf-nav button.navbar-toggler{
    border-width: 0px;
    color: var(--red);
}

@media only screen and (max-width: 991px){
    header.sticky .gf-smallScreen-menu-dropdown{
        top: 70px;
        z-index: 9999;
    }
    .navbar-brand{
        margin-left: 15px;
    }
    .navbar-brand img{
        height: 60px;
        width: 75px;
        margin-top:0px !important;
    }
    .navbar-toggler{
        margin-right: 15px;
    }
    .navbar-collapse{
        position: relative;
        top: 0px;
        background-color: #a5cdea;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.12), inset 0px 0px 0px 0px rgba(218, 220, 224, 0.004);
        transition: all 1s ease !important;
    }
    .navbar-collapse .nav-item{
        border-right: 0px !important;
        padding-left: 15px;
    }
    .navbar-collapse .nav-item:last-child .h-register{
        margin-bottom: 12px;
    }
}

header .nav-item .nav-link {
    color: #ffffff !important;
    /* color: var(--dark) !important; */
    font-family: Sanson;
    letter-spacing: 2px;
    font-size: 24px;
}

@media only screen and (max-width: 1200px){
    header .nav-item .nav-link {
        font-size: 18px;
        }
    }

.nav-item{
    /* padding-inline: 3px; */
}

li.nav-item.active a{
    color: var(--red) !important;
}

/* //////////////////// */

.notification-icon {
    position: relative;
}

.notification-icon a i::after {
    content: '3';
    font-size: 14px;
    font-family: 'Sailec-Medium';
    text-align: center;
    line-height: 16px;
    color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    right: -10px;
    bottom: 17px;
    height: 16px;
    width: 16px;
    background-color: rgb(196, 48, 48);
    border-radius: 50px;
}

.h-support, .notification-icon {
    font-size: 24px;
}

.h-support a, .notification-icon a {
    color: #455263;
}

.h-support a:hover, .notification-icon a:hover {
    color: hsla(214, 18%, 33%, 0.8);
}

.breeder-db-login-dropdown {
    position: absolute !important;
    left: auto !important;
    right: 15px;
    max-width: 340px;
    width: 100%;
}

.breeder-db-login-dropdown p {
    margin-bottom: 0.3rem;
}

.breeder-db-login-dropdown p a {
    text-decoration: none;
    color: var(--dark);
}

.breeder-db-login-dropdown p a:hover {
    text-decoration: none;
    color: var(--dark);
}

.breeder-db-login-dropdown p a i{
    color: var(--blue);
    width: 30px;
}

a#navbarDropdown img {
    object-fit: cover;
    border-radius: 30px;
}

/************ Navbar End ***************/

/* 4-- Login page start */

.fbd-login-form .fbd-login-password span.input-group-btn, #LoginModal input[name="password"]+span, #deleteListingModal input[name="password"]+span, #deleteListingModal input[name="password_confirmation"]+span, .gf-breeder-reg-wrapper input[name="password"]+span, .gf-breeder-reg-wrapper input[name="password_confirmation"]+span, .gf-customer-reg-wrapper input[name="password"]+span, .gf-customer-reg-wrapper input[name="password_confirmation"]+span{
    border: 1px solid #6E6F72;
    height: calc(1.5em + .75rem + 2px);
    border-radius: 0px 30px 30px 0px;
    border-left: none;
}

.gf-login-wrapper, .gf-select-user-wrapper, .gf-customer-reg-wrapper, .gf-breeder-reg-wrapper{
    /* background-image: url(/images/homepage/gf-home-second-intro-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat; */

    background-image: url(/images/homepage/gf-home-banner-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}
.gf-login-wrapper img, .gf-customer-reg-wrapper img, .gf-breeder-reg-wrapper img{
    width: 70%;
    height: auto;
}

.gf-login-wrapper .card, .gf-select-user-wrapper .card, .gf-customer-reg-wrapper .card, .gf-breeder-reg-wrapper .card, .gf-email-password-wrapper .card, #LoginModal .modal-content, #deleteListingModal .modal-content, .gf-reset-password-wrapper .card , #success .modal-content {
    border: none;
    background-color: #fbebd7;
    border-radius: 12px;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(245 206 154 / 30%) 0px 3px 7px -3px;
}

.gf-login-wrapper .card-header, .gf-select-user-wrapper .card-header, .gf-customer-reg-wrapper .card-header, .gf-breeder-reg-wrapper .card-header, .gf-email-password-wrapper .card-header, .fbd-single-listing-contactForm .card-header, .gf-reset-password-wrapper .card-header{
    background-color: transparent;
    border: none;
}

.gf-login-wrapper .card-header h3, .gf-select-user-wrapper .card-header h3, .gf-customer-reg-wrapper .card-header h3, .gf-breeder-reg-wrapper .card-header h3, .gf-reset-password-wrapper .card-header h3{
    color: var(--red);
}

.gf-login-wrapper  .card-header p, .gf-select-user-wrapper .card-header p, .gf-breeder-reg-wrapper .card-header p{
    color: var(--gray);
}

/* .gf-login-wrapper form input[type="email"],.gf-login-wrapper form input[type="password"],.gf-login-wrapper form input[type="text"]{ */
.gf-form-field{
    background-color: transparent;
    width: 100%;
    padding: 16px;
    border: 1px solid #6E6F72;
    margin-bottom: 14px;
    border-radius: 30px;
    display: block;
    height: calc(1.5em + .75rem + 2px);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.gf-login-wrapper form input[type="password"],.gf-login-wrapper form input[type="text"], #LoginModal input[name="password"], #deleteListingModal input[name="password"], #deleteListingModal input[name="password_confirmation"], .gf-breeder-reg-wrapper input[name="password"], .gf-breeder-reg-wrapper input[name="password_confirmation"], .gf-customer-reg-wrapper input[name="password"], .gf-customer-reg-wrapper input[name="password_confirmation"]{
    /* width: 89%; */
    border-radius: 30px 0px 0px 30px;
}

.gf-login-wrapper .form-group{
    width: 100%;
}

.gf-login-wrapper button[type="submit"]{
    width: 100%;
}
/* Login page end */


.gf-select-user-wrapper .card-body img{
    width: 75%;
    height: auto;
    transition: all 0.2s ease;
    margin-bottom: 12px;
}

.gf-select-user-wrapper .card-body img:hover{
    /* transform: scale(1.1); */
    background-color: #ffffff;
    transition: all 0.2s ease;
}


/*5-- *********** stud_listing page Start ***************/

.page-description {
    font-family: Sailec;
    background-color: white;
    color: #455263;
    padding: 24px;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);
}

.page-content {
}


@media only screen and (min-width: 991px){
    .fbd-filter-area, .gf-adds-area, .gf-dashboard-menu-area{
        position: sticky !important;
        top:80px;
        max-height: calc(100vh - 87px);
        overflow-y: auto;
    }
}


.fbd-filter-area select {
    margin-bottom: 18px;
    background-color: transparent;
}

.fbd-filter-area button {
    width: 100%;
}

/* Search Area  */

.fbd-search-area {
    background-color: white;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);
}

.fbd-search-area select, .fbd-search-area input {
    margin-bottom: 18px !important;
}

.locatin-group-btn button {
    border: 1px solid #ced4da;
    border-left: none;
    height: calc(1.5em + .75rem + 2px);
    border-radius: 0px 3px 3px 0px;
    background-color: white;
}

/* form button[type=submit] {
    height: calc(1.5em + .75rem + 0px);
} */

input.form-control:focus{
    box-shadow: none;
}

.listing-type{
    color: var(--red)
}

/* stud_listing listing area  start*/

.fbd-sponsured-card, .fbd-standard-card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fdf5eb;
}


.fbd-sponsured-card h4.fbd-sp-list-title+p, .fbd-standard-card h4.fbd-sp-list-title+p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/* Sponsured card image slider Start*/

.fbd-sp-listing-img {
    max-width: fit-content;
    overflow: hidden;
    border-radius: 0.25rem;

}

.fbd-sp-listing-img img {
    width: 100%;
    object-fit: contain;
    max-width: 250px;
    border-radius: 0.25rem;
    transition: 3s ease;
    /* height: auto; */
}

@media only screen and (max-width: 991px){
    .fbd-sp-listing-img img {
        object-fit: contain;
        border-radius: 20px;
    }
    .fbd-sp-listing-img .slick-slide div:first-of-type{
        margin:auto;
        max-width: fit-content;
    }
    }

.fbd-sp-listing-img img:hover {
    /* -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 3s ease; */
}

.fbd-sp-listing-img.slick-slider{
    margin-bottom: 0px;
    padding: 10px 10px 30px 10px;
}

.fbd-sp-listing-img ul.slick-dots{
    bottom: 0px;
    margin-bottom: 0px;
}
.fbd-sp-listing-img ul.slick-dots li button:before{
    color: var(--red);
    font-size: 9px;
}


.fbd-sp-listing-liked {
    position: absolute;
    top: 10px;
    right: 5px;
    color: #8b77fc;
    background-color: #ffffff;
    border-radius: 22px;
    padding: 3px;
    cursor: pointer;
    font-size: 19px;
    width: 32px;
    height: 33px;
    text-align: center;
}

.slick-next:before, .slick-prev:before {
    color: #c0c0c0 !important;
    font-size: 24px;
}

.fbd-sp-listing-thumbs {
    max-width: 300px;
}

.fbd-sp-listing-thumbs .slick-slide {
    opacity: 0.5;
    cursor: pointer;
}

.fbd-sp-listing-thumbs .slick-current {
    opacity: 1;
}

.fbd-sp-listing-thumbs img {
    height: 36px;
    object-fit: contain;
}


/* Sponsured card image slider End*/

.fbd-sp-list-title-description h4 {
    color: var(--dark);
}

.fbd-sponsured-listings:last-child{
    padding-bottom: 0px !important;

}

/*.fbd-sponsured-listings i.fbd-liked-icon{*/
/*    color: #c4bfbf;*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*}*/

/*.fbd-sponsured-listings i.fbd-liked-icon.liked {*/
/*    color: #8b77fc;*/
/*}*/

/* .fbd-sp-list-title-description i {
    color: #c4bfbf;
    font-size: 24px;
} */

.fbd-sp-list-title-description p {
    color: var(--gray);
    margin-bottom: 0px;
}

.fbd-sp-list-detail span {
    color: var(--dark);
}

.fbd-sp-list-detail i, .fbd-sp-list-kennel i {
    margin-right: 12px;
    color: var(--blue);
}

.fbd-sp-list-kennel span {
    color: var(--dark);
}

.gf-listing-card-social-icon{
    background-color: var(--blue);
    border-radius: 0px 0px 0.25rem 0.25rem;

}

@media only screen and (min-width: 992px){
.gf-listing-card-like-icon{
    margin-bottom:60px !important;
    }
    .gf-listing-card-social-icon{
        border-radius: 0px 0.25rem 0.25rem 0px;
    }
}

.fbd-sp-list-social{
    height: 100%;
}

.fbd-sp-list-social a {
    margin: auto;
    color: white;
    font-size:20px;
}

.fbd-sp-list-social a:hover {
    color: var(--red);
}

/* stud_listing listing area  End */

.fbd-adds-area img {
    background-color: white;
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);
    padding: 15px;
    width: 100%;
    object-fit: contain;
}

/************ stud_listing page End ***************/

/*6-- *********** create_listing page Start ***************/

.fbd-create-listing-content-area {
    background-color: white;
}

.image_one, .image_two, .image_three, .image_four, .image_five, .breeder_logo, .register-breeder-logo{
    visibility: hidden;
    position: absolute;
}

form#create-listing-form label {
    font-family: Sailec;
    font-size: 16px;
}

/************ create_listing page End ***************/

/*7-- *********** Breader Dashboard Start ***************/

/* Dashboard Menu Area */

.gf-dashboard-menu-user-panel img{
    width: 75%;
    height: auto;
    max-width: 200px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.gf-dashboard-menu-area .card-header button:not(.link):after {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    transition: all 0.3s ease;
    margin-top: 2px;
    color: var(--blue);
}

.gf-dashboard-menu-area .card-header button.collapsed::after {
    transition: all 0.3s ease;
    transform: rotate(90deg);
    margin-top: 6px;
}

.gf-dashboard-menu-area button.btn-collapse ,.gf-dashboard-menu-area .card a{
    color: var(--dark);
}

.gf-dashboard-menu-area button.btn-collapse i, .gf-dashboard-menu-area .card-body a i{
    color: var(--blue);
}

/* Dashboard Content Area */

.table-title .btn-group {
    float: right;
}

.table-title .btn {
    color: #fff;
    float: right;
    font-size: 13px;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.table-title .btn span {
    float: left;
    margin-top: 2px;
}

table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

table.table tr th:first-child {
    width: 60px;
}

table.table tr th:last-child {
    width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td, table.table th {
    white-space: nowrap;
}

table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}

table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
    outline: none !important;
}

table.table td a:hover {
    color: #2196F3;
}

table.table td a.view {
    color: #9ca2bc;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #F44336;
}

table.table td i {
    font-size: 19px;
}

table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.pagination{
    margin-bottom: 0px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    font-size: 13px;
}

/* Custom checkbox */

.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    transform: inherit;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked+label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}

/* Modal styles */

/* .modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
} */

/* .modal textarea.form-control {
    resize: vertical;
} */

/* Breeder Dashboard Main page */

.gf-breeder-db-main-card{
    color: #ffffff;
}

.gf-breeder-db-main-card.first{
    background-color: var(--champagne);
}
.gf-breeder-db-main-card.second{
    background-color: var(--blue);
}
.gf-breeder-db-main-card.third{
    background-color: var(--red);
}
.gf-breeder-db-main-card.fourth{
    background-color: var(--gray);
}

.gf-breeder-db-main-card p{
    font-size: 48px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 0px;
}

.gf-breeder-db-main-card-icon i{
    font-size: 60px;
}

.gf-breeder-db-main-card.first .gf-breeder-db-main-card-icon i{
    color: #ea9a2e;
}
.gf-breeder-db-main-card.second .gf-breeder-db-main-card-icon i{
    color: #21618b;
}
.gf-breeder-db-main-card.third .gf-breeder-db-main-card-icon i{
    color: #75141c;
}
.gf-breeder-db-main-card.fourth .gf-breeder-db-main-card-icon i{
    color: #444547;
}

.gf-breeder-db-main-card.first .gf-breeder-db-card-bottom{
    background-color: #f2bf7b;
}
.gf-breeder-db-main-card.second .gf-breeder-db-card-bottom{
    background-color: #2e87c2;
}
.gf-breeder-db-main-card.third .gf-breeder-db-card-bottom{
    background-color: #af1e2a;
}
.gf-breeder-db-main-card.fourth .gf-breeder-db-card-bottom{
    background-color: #555658;
}

.gf-breeder-db-card-bottom a, .gf-breeder-db-card-bottom a:hover{
    color: #ffffff;
}

/* Add new listing Form */

.gf-add-listing-image input.gf-form-field, .gf-breeder-reg-wrapper .gf-breeder-reg-kennel-logo input.gf-form-field{
    width: 78%;
    border-radius: 30px 0px 0px 30px;
}
/*Upper Duplicate for generalize */
.gf-form-field.gf-form-field-inline-left{
    border-radius: 30px 0px 0px 30px;
}
.gf-form-field.gf-form-field-inline-right{
    border-radius: 0px 30px 30px 0px;
    border-left-width: 0px;
}

.gf-form-field-inline-icon{
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #6E6F72;
    border-radius: 30px 0px 0px 30px;
    height: calc(1.5em + .75rem + 2px);
}

.gf-form-field-inline-icon i{
    margin-top: 0.5rem;
    font-size: 20px;
}


.gf-add-listing-image button.gf-btn-dark {
    border-bottom-left-radius: 0px;
    padding-block: 7px;
    margin-left: -1px;
    border: none;
}
/*Upper Duplicate for generalize */
.gf-form-field-inline-btn.gf-btn-dark, .gf-form-field-inline-btn.gf-btn-light{
    border-bottom-left-radius: 0px;
    padding-block: 7px;
    margin-left: -1px;
    border: none;
}

.gf-form-field-inline-btn.gf-btn-dark:hover, .gf-form-field-inline-btn.gf-btn-light:hover{
    border-width: 0px;
}

/************ Breader Dashboard End ***************/

/*8-- *********** Breader Profile Start ***************/

.gf-breeder-profile-wrapper{
    background-image: url("/images/homepage/gf-home-banner-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

.breeder-profile-info i{
    color: var(--blue);
    font-size:16px;
    width: 40px;
}

.breeder-profile-info h4{

}

.breeder-profile-info a{
    color: var(--dark);
    margin-bottom: 8px;
}

/* Product Card */

.breeder-resources-card{
    background-color: #fbebd7;
    border-radius: 25px;
    border-bottom: 3px solid var(--red);
    padding: 20px 20px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
}

.breeder-resources-card img{
    height: 150px;
    width: auto;
}

.product-card-info a{
    color: var(--dark);
}


/* --------------------------- */

.breeder-profile-area {
    background-color: white;
}

/************ Breader Profile End ***************/

/*9-- *********** Single Listing Page Start ***************/

.breadcrumbs a {
    text-decoration: none;
    color: #242626;
}

.breadcrumbs a:hover {
    text-decoration: none;
}

.fbd-single-listing-img {
    border: 3px solid #c0c0c0;
    border-radius: 10px;
    max-width: 100%;
    width: 800px;
    margin: auto;
}

.fbd-single-listing-img img {
    height: 360px;
    object-fit: contain;
}

.fbd-single-listing-img .slick-next, .fbd-single-listing-img .slick-prev {
    width: 36px;
    height: 36px;
}

.fbd-single-listing-img .slick-prev {
    left: -50px;
}

.fbd-single-listing-img .slick-next {
    right: -50px;
}

.fbd-single-listing-img .slick-next:before, .fbd-single-listing-img .slick-prev:before {
    color: #c0c0c0 !important;
    font-size: 36px;
}

.fbd-single-listing-thumbs {
    max-width: 700px;
}

.fbd-single-listing-thumbs .slick-slide {
    opacity: 0.5;
    cursor: pointer;
}

.fbd-single-listing-thumbs .slick-current {
    opacity: 1;
}

.fbd-single-listing-thumbs img {
    max-height: 50px;
    object-fit: contain;
}


.fbd-single-listing-thumbs .slick-current.slick-active img{
    max-height: 100px;
}

.fbd-single-listing-thumbs .slick-track{
    display:flex;
    align-items: center;
}



/* Slick End */

.fbd-single-listing-title {

}

.fbd-single-listing-info .breeder-name h3{
    color: var(--red);
}

.fbd-single-listing-info .kennel-name {
    color: var(--blue);
}

.fbd-single-listing-info .contactNo, .fbd-single-listing-info .email, .fbd-single-listing-info .website {
    text-decoration: none;
    color: #242626;
}

.fbd-single-listing-info .contactNo i, .fbd-single-listing-info .email i, .fbd-single-listing-info .website i {
    color: var(--blue);
}

.fbd-single-listing-contact-social a {
    font-size: x-large;
    color: var(--blue);
}

.fbd-single-listing-contact-social a:hover {
    color: hsla(204, 61%, 50%, 0.8);
}

.fbd-single-listing-contactForm .card {
    border: none;
    background-color: #fbebd7;
    border-radius: 30px;
}

.fbd-single-listing-contactForm .gf-form-field{
    margin-bottom: 0px;
}

.fbd-single-listing-contactForm input[type="submit"]{
    width: 100%;
}

.fbd-single-listing-features i {
    color: var(--blue);
}

.fbd-single-listing-features span {


}

.fbd-single-listing-social i {
    font-size: 24px;
    /* margin-right: 10px; */
}

.fbd-single-listing-dna table.table {
    /* font-family: "Sailec-Medium"; */
}

/************ Single Listing Page End ***************/

/*10--*********** Filter Area component ***************/


/*===== Your Search Card ======*/
#filterLocation span.heading{
    font-size: 16px;
    color: #242626;
}

#filterLocation span.results-number{
    color: var(--blue);
}

#collapseSearch ul.tags-list{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

}

#collapseSearch ul.tags-list li{
    display: inline;
    background-color: transparent;
    padding: 3px 10px;
    margin-bottom: 5px;
    border-radius: 30px;
    font-size: 12px;
    color: #242626;
}
#collapseSearch ul.tags-list li span{
    margin-left: 4px;
    background-color: #be202e;
    padding: 0px 4px;
    width: 20px;
    height: 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

/* ==================== */


.fbd-filter-area .card,  .gf-dashboard-menu-area{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: hsla(34, 82%, 78%, 0.2);
}

.fbd-filter-area #secondary-recent-search .card-header{
    background-color:transparent;
}

.fbd-filter-area #secondary-recent-search .card-header h5{
    color: var(--blue);
}

.fbd-filter-area .card .card-body {

    color: var(--blue);
}

.fbd-filter-area .card-body {
    padding: 0px;
}

.fbd-filter-area .card-body label {
    position: relative;
    cursor: pointer;
}

.fbd-filter-area .card-body input[type="checkbox"] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    cursor: pointer;
    display: none;
    /* visibility: hidden; */
}

.fbd-filter-area .card-body label::before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #3390CE;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}


.fbd-filter-area .card-body input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 14px;
    border: solid #3390CE;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.fbd-filter-area .card-body label.parentLabel {
    display: block;
}
.fbd-filter-area .card-body label.parentLabel::before {
    content: '\f068';
    -webkit-appearance: none;
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
    padding: 8px;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    font-family: "Font Awesome 5 Pro";
    right: 5px;
    top:-8px;
}
.fbd-filter-area .card-body label.parentLabel::after{
    display: none !important;
}


.fbd-filter-area .card .card-header button.btn-collapse {
    font-size: 20px;
    color: var(--blue);
    background-color: transparent;
    letter-spacing: 1px;
}

.fbd-filter-area .card .card-header button.collapsed::after {
    display: block;
    position: absolute;
    top: 18px;
    right: 16px;
    width: 16px;
    height: 16px;
    content: "\f067";
    font-family: "Font Awesome 5 Pro";
}

.fbd-filter-area .card .card-header button::after {
    display: block;
    position: absolute;
    top: 18px;
    right: 16px;
    width: 16px;
    height: 16px;
    content: "\f068";
    font-family: "Font Awesome 5 Pro";
}

/************ Filter Area component ***************/

/*11--*********** Home Page Start ***************/

.home-banner-form {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}

.home-blurbs, .home-advertisement {
    width: 80%;
    max-width: 1080px;
    margin: auto;
}

.home-banner-wrapper {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-image: url("/images/banner-bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(90vh - 64px);
}

.home-banner-wrapper form {
    padding: 40px 15px 15px;
    background-color: #00000080;
    border-radius: 7px;
}

.home-banner-wrapper form h2 {
    color: white;
    font-family: "sailec-Bold";
    margin-bottom: 2rem;
}

.home-banner-divider {
    background-image: url("/images/ezgif.png");
    height: 20px;
    margin-top: -20px;
}

.home-intro-wrapper {
    background-image: url("/images/PawPrints.png");
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: 0px;
}

.home-intro h2 {
    padding-top: 30px;
    color: #231F20;
    font-family: "Sailec-Bold";
}

.home-intro p {
    color: #242626cc;
    font-family: "Sailec";
    padding: 0px 10vw;
    font-size: 1.1rem;
}

.home-blurbs .row .block {
    cursor: pointer;
    /* border: 1px solid rgb(226, 236, 241);  */
    /* border-radius: 20px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.home-blurbs .row .block:hover {
    /* transform: scale(1.08); */
}

.home-blurbs .block a {
    border-radius: .25rem;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    background-color: #8c78fcb3;
    text-decoration: none;
    transition: all .2s ease-in-out;
    z-index: -1;
}

.home-blurbs .block a:hover {
    opacity: 1;
}

.home-blurb-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 20%;
    display: flex;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    background-color: rgba(139, 119, 252, 0.5);
    color: white;
    border-top: 2px solid #8b77fc;
    border-radius: 0px 0px .25rem .25rem;
    transition: all .5s ease-in-out;
}

.home-blurbs .block img {
    transition: all 1s ease-in-out;
}

.home-blurbs .block:hover a {
    z-index: 1;
    opacity: 1;
}

.home-blurbs .block:hover .home-blurb-name {
    opacity: 0;
}

.home-blurbs .block:hover img {
    transform: scale(0.8, 0.8);
}

.home-blurbs .row .block img, .home-advertisement img {
    max-width: 100%;
    max-height: 100%;
}

.home-advertisement .row {
    border-style: solid 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.home-advertisement .slick-next:before, .home-advertisement .slick-prev:before {
    color: #8b77fc !important;
    font-size: 36px;
}

.home-advertisement .slick-prev {
    left: -62px;
}

.home-advertisement .slick-next {
    right: -45px;
}

/* Home Sponsured Kennel */

.home-sp-kennels h2:first-child {
    color: #8B77FC;
    font-family: "Sailec-Bold";
}

.home-sp-kennels .carousel .carousel-item {
    /* margin-left: 0.5rem; */
}

.home-sp-kennels .carousel .carousel-item div {
    text-align: center
}

.home-sp-kennels .carousel .carousel-item a span {
    font-family: "Sailec-Medium";
    font-size: 18px;
    text-decoration: none;
    color: #9ca2bc;
}

.home-sp-kennels .carousel .carousel-item a:hover {
    text-decoration: none;
}

/*********************************************************************/

/* Bootstrap 4 Multiple Item Carousel */

/*********************************************************************/

/* medium - display 2  */

@media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }
    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 3 */

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active, .carousel-inner .carousel-item-next {
        transform: translateX(33%);
    }
    .carousel-inner .carousel-item-left.active, .carousel-inner .carousel-item-prev {
        transform: translateX(-33%);
    }
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }
    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active, .carousel-inner .carousel-item-next, .carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right, .carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/* //////////////////////////////////////////////////////// */

.home-contact-wrapper {
    background-image: url("/images/PawPrints2.png");
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: 100%;
}

.home-contact h2 {
    padding-top: 30px;
    color: #8B77FC;
    font-family: "Sailec-Bold";
}

.home-contact p {
    color: #8B77FC;
    font-family: "Sailec";
}

.home-contact i {
    border: 3px solid #8B77FC;
    border-radius: 100%;
    padding: 10px;
    color: #8B77FC;
    font-size: 1.5rem;
}

/************ Home Page End ***************/

/*12--*********** Resources Content Start ***************/

.resources-flex-area {}

.resources-content-area{
    box-shadow: 0 1px 4px 1px rgb(0 0 0 / 10%);
}

.breeder-resource-card{
    background-color: #fbebd7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(245, 206, 154, 0.3) 0px 3px 7px -3px;
}

.breeder-resource-card{
    margin-top: 110px;
}
.gf-resource-card-image{
    max-width: fit-content;
    margin: auto;
    margin-top: -120px;
}

.gf-resource-card-image img{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.resources-cards i{
    color: #3390CE;
}

.resource-card-details a{
    font-size: 14px;
    font-family: "Sailec-Bold";
    color: #242626;
}

.resource-card-details a:hover{
    text-decoration: none;
    color: var(--red);
}

.resource-card-details span{
    font-size: 12px;
    font-family: "Sailec-Bold";
    color: #24262680;
}


.resource-card-details h5 a{
    font-size: 18px;
    color: var(--red);
}

.resource-card-contact{
    border-width: 1px 0px;
    border-style: solid;
    border-color: #25272780;
}


/************ Resources Content End ***************/


/*-- 13 Social Links*/
div#social-links {
    margin: 0 auto;
    max-width: 500px;
}
div#social-links ul li {
    display: inline-block;
}
div#social-links ul li a {
    padding: 8px;
    /*border: 1px solid #ccc;*/
    margin: 1px;
    font-size: 20px;
    color: #222;
    background-color: transparent;
}

/* Go Frenchie Redesign of Frenchbull dog
1-- Font Include + Root values

3-- Go Frenchie Home Page

*/


/*1-- Font Include Start  */
@font-face {
    font-family: Proxima-Nova;
    src:
    /* Full name */
    local(Proxima),
    /* Postscript name */
    local(Proxima-Nova),
    /* otherwise, download it */
    url(/fonts/Proxima-Nova.otf);
}

@font-face {
    font-family: Sanson;
    src:
    /* Full name */
    local(Sanson),
    /* Postscript name */
    local(Sanson),
    /* otherwise, download it */
    url(/fonts/Sanson.otf);
}

html body {
    color: var(--dark);
    background-color: #ffffff !important;
    line-height: 1.7em;
    font-family: Proxima-Nova;
    font-size: 16px;
}

html:root{
    --blue: #3390CE;
    --red: #BE202E;
    --dark: #231F20;
    --gray: #6E6F72;
    --champagne: #F5CE9A;
}

.gf-blue{color: var(--blue);}
.gf-red{color: var(--red);}
.gf-dark{color: var(--dark);}
.gf-gray{color: var(--gray);}
.gf-champagne{color: var(--champagne);}
.gf-bg-blue{background-color: var(--blue);}
.gf-bg-red{background-color: var(--red);}
.gf-bg-dark{background-color: var(--dark);}
.gf-bg-gray{background-color: var(--gray);}
.gf-bg-chambagne{background-color: var(--champagne);}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark);
    font-family: Sanson;
    font-weight: 600 !important;
    letter-spacing: 0.2rem;
}

body a:hover{
    text-decoration: none;
}

.gf-btn-dark{
    font-weight: 500;
    font-size: 16px;
    border-radius: 0px 50px 50px 50px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 10px 25px;
    line-height: 1.5;
    transition: all 300ms ease;
    box-shadow: 0 0 0 3em #BE202E inset;
    -webkit-appearance: button;
    cursor: pointer;
    white-space: nowrap;
}
.gf-btn-dark:hover{
    color: #BE202E;
    box-shadow: 0 0 0 2px #BE202E inset;
    border: 2px solid transparent;
    background-color: transparent;
}

.gf-btn-light{
    font-weight: 500;
    font-size: 16px;
    border-radius: 0px 50px 50px 50px;
    color: #231F20;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: 10px 25px;
    line-height: 1.5;
    transition: all 400ms ease;
    box-shadow: 0 0 0 2px #BE202E inset;
    background-color: #ffffff;
    -webkit-appearance: button;
    cursor: pointer;
    white-space: nowrap;
}
.gf-btn-light:hover{
    color: #ffffff;
    box-shadow: 0 0 0 3em #BE202E inset;
    background-color: #BE202E;
}

.gf-btn-dark[disabled=disabled], .gf-btn-light[disabled=disabled]{
    pointer-events: none;
    box-shadow: none;
    background-color: #cc9da9;

}

.container{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.gf-mw-fit{
    max-width: fit-content;
}

img{
    max-width: 100%;
}

@media only screen and (min-width: 1350px){
    .wrapper {
        padding: 54px 0;
    }
}
@media (min-width: 981px){
    .wrapper {
        padding: 4% 0;
    }
}
@media (max-width: 980px){
    .wrapper {padding: 50px 0;}
}

.wrapper h2,.gf-breeder-profile-wrapper h2, .fbd-single-listing-title{
    /* color: var(--blue); */
    font-size: 55px;
    line-height: 60px;
}

@media only screen and (max-width: 991px){
    .wrapper h2, .gf-breeder-profile-wrapper h2, .fbd-single-listing-title{
        font-size: 40px;
        line-height: 50px;
    }
}

.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
@media only screen and (min-width: 1350px){
    .row {
        padding: 27px 0;
    }
}
@media (min-width: 981px){
    .row {
        padding: 2% 0;
    }
}
@media (max-width: 980px){
    .row {
        padding: 30px 0;
    }
}

textarea:focus-visible, select:focus-visible, input:focus-visible, button{
    outline: none !important;
}

body a{
    color: var(--dark);
}

body a:hover {
    color: var(--blue);
}



/* 3--Go Frenchie Home Page */
.gf-home-banner-wrapper {
    background-image: url("/images/homepage/gf-home-banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.gf-home-banner-wrapper .gf-home-banner-text{
    background-color: #fbebd7;
    border-radius: 25px;
}

.gf-home-banner-text p:first-child{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 0px;
    color: #3390CE;
}

.gf-home-banner-text h1{
    color: var(--blue);
    font-size: 65px;
    line-height: 80px;
}
@media only screen and (max-width: 991px){
.gf-home-banner-text h1 {
    font-size: 40px;
    line-height: 50px;
}
}

.gf-home-banner-text h4{
    font-family: Proxima-Nova;
}

/* .gf-home-banner-button a{
    display: inline-block;
    color: #ffffff!important;
    border-width: 0px!important;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 800!important;
    text-transform: uppercase!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    background-image: url('/images/homepage/gf-home-button-bg.png');
    padding: 40px 50px;
    transition: all 0.3s ease;
}
.gf-home-banner-button a:hover{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
} */

.gf-home-featured-kennel, .gf-contactform{
    background-image: url("/images/homepage/gf-home-second-intro-bg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.gf-home-second-intro p{
    font-family: Proxima-Nova;
    font-size: 16px;
}

.gf-home-third-quality{
    background-image: url("/images/homepage/gf-home-third-quality-bg.png");
    background-size: contain;
    background-position: bottom right;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.gf-home-blurbs .service-blurb{
    padding: 60px 50px;
    /* background-color: hsla(225, 2%, 44%, 0.2); */
    /* background-color: rgba(50, 143, 205, 0.2); */
    background-color: #fbebd7;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(245, 206, 154, 0.3) 0px 3px 7px -3px;
    border-radius: 25px;
    cursor: pointer;
}
.gf-home-blurbs .service-blurb:hover{
    /* -webkit-box-shadow: 0px 0px 20px rgba(50 143 205 / 20%);
    -moz-box-shadow: 0px 0px 20px rgba(50,143,205,0.2);
    box-shadow: 0px 0px 20px rgb(50 143 205 / 20%); */
}
.gf-home-blurbs img{
    margin-bottom: 30px;
}

.gf-home-blurbs h4{
    padding-bottom: 20px;
    color: #BE202E;
}

.gf-home-blurbs a{
    color: #BE202E;
    font-size: 14px;
}
.gf-home-blurbs a:hover{
    color: #BE202E;
}

.gf-home-blurbs a:after{
    content: '\2192';
    color: #BE202E;
    position: absolute;
    font-size: 24px;
    margin-left: .3em;
    left: auto;
}

.gf-home-testimonial-slider span:first-of-type{
    color: #BE202E;
}

.gf-home-testimonial-slider span:last-of-type{
    text-shadow: 0 1px 3px rgb(0 0 0 / 30%);

}


.gf-home-testimonial-slider ul.slick-dots{
    text-align: left;
    bottom: -60px;
}

.gf-home-testimonial-slider .slick-slide{
    height: fit-content;
}

.gf-home-testimonial-slider ul.slick-dots li button:before{
    color: var(--red);
    font-size: 10px;
}

.gf-homepage-adds .container{
    background-color: #e2e2e3;
    border-radius:50px;
}

.gf-homepage-adds .container img{
    margin-top: -16%!important;
    /* width: 100%; */
    /* position: absolute!important; */
    top: 0px;
    bottom: auto;
    left: 0px;
    right: auto;
    text-align: center;
}

.gf-homepage-adds h4{
    font-size: 36px;
    /* color: #ffffff; */
}

.gf-homepage-adds span{
    /* color: #ffffff; */
}

.gf-homepage-adds form input[type=text]{
    width: 80%;
    background-color: white;
    border-radius: 50px;
    height: 33px;
    border: 1px solid rgba(0,0,0,.2);
    text-align: center;
}

.gf-homepage-adds form button[type=submit]{
    width: 80%;
    height: auto;
    padding: 5px 25px;
    /* border: 1px solid #ffffff; */
}

/* Contact Form Section Styling */

.gf-contactform-area{
    background-color: #fbebd7;
    padding: 10%;
    border-radius: 30px;
}

.gf-contactform-area p{
    color: #BE202E;
}

.gf-contactform-area form select, .gf-contactform-area form textarea,.gf-contactform-area form input{
    background-color: transparent;
    width: 100%;
    padding: 16px;
    border: 1px solid #6E6F72;
    margin-bottom: 14px;
    border-radius: 30px;
}

/* Captcha Styling */
.captchaWrap{
    margin-bottom: 14px;
}

#captcha{
    height: 70px;
    background-color: #ffffff;
    border: 1px solid var(--gray);
    padding-top: 14px;
    padding-right: 25%;
    padding-left: 20%;
    width: 100%;
}

.captcha-refresh-btn{
    background-color: transparent;
    color: #BE202E;
    border: none;
    font-size: 30px;

}
.captcha-textBox{
    width: 50% !important;
    padding: 6px !important;
}

.incorrectCaptcha {
    color: #BE202E;
}

.correctCaptcha {
    color: #0ab179;
}

.gf-contactform-area form button[type=submit]{
    height: auto;
    width: 100%;
}


/* Kennel Carousel */
.gf-home-kennels-carousel{
    background-image: url("/images/homepage/gf-home-third-quality-bg.png");
    background-size: contain;
    background-position: bottom right;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.gf-slide{
    background-color: #fbebd7;
    border-radius: 25px;
    border-bottom: 3px solid #BE202E;
    padding: 10px 20px;
}

.gf-slide a.gf-frenchie-slide-like i{
    position: absolute;
    right: 50px;
    top: 40px;
    color: var(--red);
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

.gf-slide img{
    margin:auto;
}

.gf-kennel-slider ul.slick-dots li button:before{
    color: var(--red);
    font-size: 10px;
}


/* Featured / Sponsured Frenchies Slider on Homepage */

.gf-featured-frenchies-slider .gf-slide .gf-frenchie-slide-details h4{
    display: inline-block;
}

.gf-featured-frenchies-slider .gf-slide .gf-frenchie-slide-details i{
    margin-right: 15px;
    color: #3390CE;
}

.gf-featured-frenchies-slider ul.slick-dots li button:before{
    color: var(--red);
    font-size: 10px;
}

.gf-frenchie-slide-details .gf-home-featured-slider-description p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



/* Footer Styling */
.gf-footer-content{
    background-size: contain;
    background-position: bottom right;
    background-blend-mode: overlay;
    background-image: url('/images/gf-footer-bg1.jpg');
    background-color: rgba(255,255,255,0.62);
    background-repeat: no-repeat;
}

.gf-footer-col1 p, .gf-footer-col4 p{
    color: hsla(225, 2%, 44%, 0.8);
}

.gf-footer-socialIcons i{
    box-shadow: 0 0 0 1em var(--red) inset;
    font-size: 1.1em;
    padding: 10px;
    color: #ffffff;
    border-radius: 43px;
    width: 35px;
    margin-right: 7px;
    text-align: center;
    -webkit-transition: all 280ms ease;
    -moz-transition: all 280ms ease;
    transition: all 280ms ease;
    cursor: pointer;
}
.gf-footer-socialIcons i:hover{
    box-shadow: 0 0 0 1px var(--red) inset;
    background-color: #ffffff;
    color: var(--dark);
}

.gf-footer-col2 h3, .gf-footer-col3 h3, .gf-footer-col4 h3{
    color: var(--red);
    font-family: Proxima-Nova;
}

.gf-footer-col2 div, .gf-footer-col3 div{
    margin-bottom: 16px;
}

.gf-footer-col2 a, .gf-footer-col3 a,.gf-footer-col2 a:hover, .gf-footer-col3 a:hover{
    color: var(--dark);
}

.gf-footer-col2 i, .gf-footer-col3 i{
    margin-right: 15px;
    color: var(--dark);
    width: 18px;
}

.gf-footer-col2 div:hover i{
    color: var(--red);
}

.gf-footer-col4 form input[type=text]{
    width: 100%;
    background-color: white;
    border-radius: 50px;
    height: 33px;
    border: 1px solid rgba(0,0,0,.2);
    text-align: center;
    font-size: 12px;
}
.gf-footer-col4 form button[type=submit]{
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: 12px;
    padding-block: 5px;
}

.gf-footer-bottom-bar{
    background-color: var(--red);
    color: #ffffff;
}

.gf-footer-bottom-bar a{
    color: #ffffff;
    margin-left: 12px;
}

.gf-footer-bottom-bar a:hover{
    color: white;
    text-decoration: underline;
}



/* Resources Page */
.gf-resources-banner-wrapper {
    background-image: url("/images/homepage/gf-home-banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.gf-resources-banner-text h1{
    font-size: 65px;
    line-height: 80px;
}
@media only screen and (max-width: 991px){
.gf-resources-banner-text h1 {
    font-size: 40px;
    line-height: 50px;
    }
}

.gf-resources-banner-wrapper img{
    height: auto;
}

/* Adds Area */

.gf-adds-area{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}


/* Breadcrumbs Styling */
@media (max-width: 767px) {
	.btn-breadcrumb { margin-left: 10px; margin-right: 10px; width: calc(100% - 20px) !important; }
}

.btn-breadcrumb .btn-info{
    background-color: #3390CE;
}

.btn-breadcrumb{
	border-radius: 4px;
}
.btn-breadcrumb .btn{
	border-color: transparent; border: 0px solid transparent;
	border-right: 1px solid transparent !important;
}
/* .btn-breadcrumb .btn:last-child {font-weight: bold; text-decoration: underline;} */
.btn-breadcrumb .btn:last-child:after{margin-left: 0px;}
.btn-breadcrumb .btn:last-child:before{margin-left: -1px;}

.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  margin-left: 0px;
  left: 100%;
  z-index: 3;
}
/* .btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
} */

/** The Spacing **/
.btn-breadcrumb .btn {padding:6px 12px 6px 24px;}
.btn-breadcrumb .btn:first-child {padding:6px 18px 6px 30px;}
.btn-breadcrumb .btn:last-child {padding:6px 18px 6px 24px;}

/** Info button **/
.btn-breadcrumb .btn.btn-info:after {border-left: 10px solid #5ca6d8;}
.btn-breadcrumb .btn.btn-info:hover:after {border-left: 10px solid #5ca6d8;}
.btn-breadcrumb .btn.btn-info:hover:before, .btn-breadcrumb .btn.btn-info:before {border-left: 10px solid #5ca6d8;}

/* ////////////////////////////////////////////////// */

.lg-gf-container{
    width: 80%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}


.gf-home-resources-featured{
    background-image: url("/images/homepage/gf-home-third-quality-bg.png");
    background-size: contain;
    background-position: bottom right;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

/* Bootstrap default container change on less than 576px */
@media (max-width: 576px){
    .container {
        max-width: 90%;
    }
}

.container-fluid{
    max-width: 1600px;
}

.btn:focus{
    box-shadow: none !important;
}

#LoginModal.modal, #deleteListingModal.modal, #success.modal{
    top: 20%;
}


/* .gf-side-add-image.posFix {
    position: fixed;
    top: 80px;
  }
  .gf-side-add-image.posAbs {
    position: absolute;
    bottom: 25px;
  } */

